@import 'theme/global';

.editor {
  background: $primaryBgColor;
}

.form {
  padding: 0.4rem $sidePaddingWidth;
  background: #fff;
}

.formError {
  position: absolute;
  color: red;
  margin-top: 0.1rem;
}
