{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["react-app", "eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": ["react"],
  "rules": {
    "no-console": 0
  }
}
