.banner {
  height: 3.75rem;
  overflow: hidden;
}

.bannerItem {
  height: 3.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  & > .bannerDesc {
    width: 3.68rem;
    height: 1.61rem;
    position: absolute;
    bottom: 0.48rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > p {
      font-family: HYWenHei-FEW;
      color: rgba(255, 255, 255, 1);
      &:nth-child(1) {
        font-size: 0.48rem;
      }
      &:nth-child(2) {
        font-size: 0.52rem;
      }
    }
  }
}
