.radio {
  &.horizontal {
    display: flex;
    align-items: center;
    .label {
      margin-bottom: 0;
    }

    .options {
      flex: 1 auto;
      justify-content: flex-end;

      .option {
        margin-left: 0.15rem;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.label {
  margin-bottom: 0.3rem;
  font-size: 0.28rem;
  font-weight: 500;
}

.range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  .rangeInput {
    width: 46%;
    padding: 0;
    height: 0.8rem;
    line-height: 0.8rem;
    border: 1px solid #ebebeb;
    text-indent: 0;
    text-align: center;
  }
  .rangeLine {
    flex-shrink: 0;
    height: 1px;
    width: 0.24rem;
    margin: 0 0.2rem;
    background: #ebebeb;
  }
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.option {
  flex-shrink: 0;
  width: 30%;
  padding: 0.1rem 0;
  margin: 0.1rem 0;
  background: #f5f5f5;
  font-size: 0.24rem;
  font-weight: 500;
  color: #333333;
  text-align: center;
  line-height: 0.46rem;
  border: 1px solid #f5f5f5;

  &.selected {
    border-color: #dff7ed;
    background-color: #dff7ed;
    color: #00ae66;
  }
}
