.content {
  display: flex;
  flex-wrap: wrap;
}
.option {
  display: flex;
  margin: 0.1rem 0.97rem 0.1rem 0;
  font-size: 0.26rem;
  font-weight: 500;
  color: #333333;
  & > svg {
    width: 0.3rem;
    height: 0.3rem;
    fill: #00ae66;
    margin-right: 0.21rem;
  }
  &.selected {
    color: #00ae66;
  }
}
