.box {
  .title {
    height: 0.8rem;
    background: rgba(245, 245, 245, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3rem;
    font-size: 0.36rem;
    padding-left: 0.25rem;
  }
}
