@import 'theme/global';

$sortItemHeight: 1rem;

.sort {
  > li {
    height: $sortItemHeight;
    padding: 0 $sidePaddingWidth;
    line-height: $sortItemHeight;
    border-bottom: 1px solid #ebebeb;
    &:last-child {
      border-bottom: none;
    }
    &.active {
      color: $primaryColor;
    }
  }
}
