.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.6rem 0;
}

.icon {
  width: auto;
  height: auto;
  margin-bottom: 0.4rem;
}

.sub {
  font-size: 0.34rem;
}

.sup {
  margin-top: 0.2rem;
  font-size: 0.24rem;
  color: #bababa;
}
