.content {
  display: flex;
  justify-content: space-around;
  height: 1.4rem;
  background: rgba(240, 249, 245, 1);
  border-radius: 0.04rem;
  margin-top: 0.14rem;
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text {
      margin: 0.04rem 0;
      font-size: 0.3rem;
      font-weight: 700;
      color: rgba(0, 174, 102, 1);
    }
  }
}
