.position {
  display: flex;
  align-items: center;
  > svg {
    flex-shrink: 0;
    width: 0.24rem;
    height: 0.24rem;
    margin-right: 0.05rem;
  }

  .content {
    height: 0.24rem;
    flex: 0 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
    font-size: 0.24rem;
  }
}
