@import 'theme/global';
@import 'theme/search';

.search {
  flex: 1 auto;
  display: flex;
  height: $searchHeight;
  align-items: center;
  color: $primaryTextColor;
}

.input {
  position: relative;
  flex: 1 auto;
  display: flex;
  align-items: center;
  height: $searchBoxInputHeight;
  line-height: $searchBoxInputHeight;
  background: #fff;
  // border-radius: calc(#{$searchBoxInputHeight}/ 2);
  border-radius: 0.08rem;
  font-size: 0.28rem;
  .label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0.25rem;
    flex-shrink: 0;
  }
  .sep {
    flex-shrink: 0;
    height: 50%;
    width: 1px;
    background: #c8c8c8;
  }
  input {
    height: $searchBoxInputHeight;
    width: 100%;
    padding: 0 0.25rem;
    border: none;
    margin: 0;
    outline: 0;
    text-indent: 0;
    background: transparent;
  }
  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0.2rem;
    margin-top: -0.12rem;
    text-align: center;
    > svg {
      font-size: 0.24rem;
      fill: #000;
    }
  }
}
.button {
  width: 2.5em;
  flex-shrink: 0;
  text-align: right;
  color: #fff;
  font-size: 0.3rem;
}
